.contactus-container{
	padding-top: 30px;

}

.contactus-container hr{
	margin-bottom: 60px;
}

.contact-info .glyphicon {
	font-size: 36px;
}

.contact-info {
	vertical-align: middle;
	text-align: left;
}