.main-background{
	width: 50%;
	height: 50%;
}

.carousel-container{
	margin: 0;
	padding: 0;
}

.search-bar {
	margin: 0px;
}

.well {
	padding: 8px;
}

h2.custom-title{
	margin-right: 50px;
	margin-left: 50px;
	font-size: 28px;
}