.custom-body-container {
	padding-top: 15px;
}

.custom-label {
	margin-right: 5px;
	margin-left: 5px;
	font-weight: 700;
}

h4.title {
	font-weight: 700;
}

h2.custom-title{
	margin: 11px 50px;
	font-size: 22px;
	padding:0;
}

.float-right{
	float: right !important;
}